
<div class="modal-header">
    <h4>New Video Game</h4>
</div>

<div class="modal-body">
    <form class="form-horizontal" name="videoGameForm" novalidate role="form">
        <fieldset>
            <legend>Game Information</legend>
            <div class="form-group" show-errors>
                <label for="description" class="col-sm-3 control-label">Title</label>
                <div class="col-sm-9">
                    <input type="text" name="description" id="description" class="form-control"
                           ng-model="videoGameAddEdit.description" ng-required="true">
                    <span class="help-block"
                          ng-if="videoGameForm.description.$error.required">A Title is required.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="categoryType" class="col-sm-3 control-label">Category</label>
                <div class="col-sm-9">
                    <select name="categoryType" id="categoryType" class="form-control"
                            ng-model="videoGameAddEdit.categoryOption"
                            ng-options="categoryOption as categoryOption.label for categoryOption in categoryOptions"></select>
                </div>
            </div>

            <div class="form-group">
                <label for="publisher" class="col-sm-3 control-label">Publisher</label>
                <div class="col-sm-9">
                    <input type="text" name="publisher" id="publisher" class="form-control"
                           ng-model="videoGameAddEdit.publisher" ng-required="false">
                </div>
            </div>

            <div class="form-group">
                <label for="developer" class="col-sm-3 control-label">Developer</label>
                <div class="col-sm-9">
                    <input type="text" name="developer" id="developer" class="form-control"
                           ng-model="videoGameAddEdit.developer" ng-required="false">
                </div>
            </div>

            <div class="form-group">
                <label for="genre" class="col-sm-3 control-label">Genre</label>
                <div class="col-sm-9">
                    <select name="genre" id="genre" class="form-control"
                            ng-model="videoGameAddEdit.genre"
                            ng-options="genre as genre.label for genre in genres"></select>
                </div>
            </div>

            <div class="form-group" show-errors>
                <label for="price" class="col-sm-3 control-label">Price</label>
                <div class="col-sm-9">
                    <input type="number" name="price" id="price" class="form-control"
                           ng-model="videoGameAddEdit.price" ng-required="true" min="0"></input>
                    <span class="help-block"
                          ng-if="videoGameForm.price.$error.required">Requires a valid number, 0 or greater.</span>
                    <span class="help-block"
                          ng-if="videoGameForm.price.$error.min">Must be 0 or greater.</span>
                </div>
            </div>

            <legend>Game Status</legend>
            <div class="form-group" show-errors>
                <label for="rating" class="col-sm-3 control-label">Rating</label>
                <div class="col-sm-9">
                    <input type="number" name="rating" id="rating" class="form-control"
                           ng-model="videoGameAddEdit.rating" ng-required="true" min="0"></input>
                    <span class="help-block"
                          ng-if="videoGameForm.rating.$error.required">Requires a valid number, 0 or greater</span>
                    <span class="help-block"
                          ng-if="videoGameForm.rating.$error.min">Must be 0 or greater.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="releaseDate" class="col-sm-3 control-label">Release Date</label>
                <div class="col-sm-9">
                    <input type="text" name="releaseDate" id="releaseDate" class="form-control"
                           ng-model="videoGameAddEdit.releaseDate" ng-required="false"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="purchaseMonth" class="col-sm-3 control-label">Purchase Month</label>
                <div class="col-sm-9">
                    <input type="text" name="purchaseMonth" id="purchaseMonth" class="form-control"
                           ng-model="videoGameAddEdit.purchaseMonth" ng-required="false"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="trackingCode" class="col-sm-3 control-label">Tracking Code</label>
                <div class="col-sm-9">
                    <select name="trackingCode" id="trackingCode" class="form-control"
                            ng-model="videoGameAddEdit.trackingCode"
                            ng-options="trackingCode as trackingCode.label for trackingCode in trackingCodes"></select>
                </div>
            </div>

            <div class="form-group">
                <label for="itemStatus" class="col-sm-3 control-label">Status</label>
                <div class="col-sm-9">
                    <select name="itemStatus" id="itemStatus" class="form-control"
                            ng-model="videoGameAddEdit.itemStatus"
                            ng-options="itemStatus as itemStatus.label for itemStatus in itemStatuses"></select>
                </div>
            </div>

            <div class="form-group">
                <label for="note" class="col-sm-3 control-label">Notes</label>
                <div class="col-sm-9">
                    <input type="text" name="note" id="note" class="form-control"
                           ng-model="videoGameAddEdit.note" ng-required="false"></input>
                </div>
            </div>
        </fieldset>
        <br />
    </form>
</div>

<div class="modal-footer">
    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancel"
               ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Save"
               ng-click="submitForm()" />
    </div>
    <br />
    <br />
    <div class="alert alert-danger" ng-if="hasFormError">{{formErrors}}</div>
</div>